.register__container {
    width: 300px;
    height:500px;
    background-color: #8094d2;
        border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}