.taskform__container {
    width: 650px;
    height: 550px;
    border: 3px solid rgba(0, 0, 0, 0.165);
    border-radius: 10px;
    display: flex;
    align-items: center;
   
    flex-direction: column;
}

.taskform__task-info {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.161);
}

.taskform__buttons {
    height: 20%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.taskform__task-info__task {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.taskform__task-info__info {
    border-left: 1px solid rgba(0, 0, 0, 0.161);
    border-top-right-radius: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #8d9ac3;;
}


.cost-input {
    width: 60px;
}

.taskform__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    font-size: 16px;
}

.cost {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.taskform__description {
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;

}

.taskform__description label {
    margin: 6px 10px;
}

.taskform__description__textarea {
    width: 90%;
    height: 220px;
    margin: 3px 10px;
    margin-bottom: 20px;
}
.visibility-title {
    margin: 1px;
}

.taskform__visibility-options {
    margin-left: 20px;
}


.create-reminder-divs {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}


.taskform-title {
    margin: 5px;
}
.taskname {
    height: 30px;
    width: 90%;
    border: 1px solid rgb(195, 195, 195);
    font-size: 25px;
}

.add-button {
    color: white;
    width: 120px;
    height: 30px;
    border: 0px solid white;
    border-radius: 10px;
    background-color: rgb(56, 230, 105);
}


.add-button:hover {
    opacity: 80%;
}