@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

.home-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    background-color: #3e528f;
    overflow: hidden;
}
.reminder__button {
    width: 80%;
    box-shadow: rgba(23, 32, 41, 0.2) 0px 8px 24px 0px;
    border-radius: 5px;
    background-color: #3664F4;;
    height: 25px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 10px 0px;
}

.reminder__button a {
    color: white;
    font: 12px;
    text-decoration: none;
    padding: 20px;
}


.home-content__buttons {
    height: 100%;
    width: 100px;
    background-color: #192342;;
    left: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.reminder__button:hover {
    opacity: 80%;
}


.home-content-routes {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
}
