@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.navbar {
    z-index: 200;
    position: fixed;
    width: 100vw;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
    font-family: Roboto;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.navbar__logo__text {
    margin: 5px;
    font-size: 22px;
    font-weight: 800;
}

.navbar__logo {
    width: 180px;
    height: 100%;
    color: white;
    background-color: #2ea1ee;
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar__links__button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 0px 20px;
    width: 90px;
    height: 100%;
    background-color: #2ea1ee;
}

.navbar__links__button:hover {
    opacity: 80%;
}

.navbar__links__button a {
    color: white;
    text-decoration: none;
}