.navbar {
    position: fixed;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.navbar__logo__text {
    margin: 5px;
    font-size: 26px;
    font-weight: 800;
}

.navbar__logo {
    height: 100%;
    color: white;
    padding: 0px 20px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar__links__button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    width: 90px;
    height: 40px;
    background-color: blue;
    border-radius: 20px;
}

.navbar__links__button a {
    color: white;
    text-decoration: none;
}