@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.navbar {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #070D1F;
    font-family: Roboto;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.navbar__logo__text {
    margin: 5px;
    font-size: 22px;
    font-weight: 800;
}

.navbar__logo {
    width: 180px;
    height: 100%;
    margin-left: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar__links__button{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 0px 20px;
    width: 90px;
    height: 100%;
    font-size: 15px;
}

.navbar__links__button:hover {
 color:    #3664F4;
}

.navbar__links__button a {
    color: white;
    text-decoration: none;
}

.github {
    width: 180px;
    margin-right: 15%;
    color: white;
    font-size: 22px;
    font-weight: 800;
    display: flex;
align-items: center;
}

.github p {
    margin: 0px;
}

.navbar-button-text:hover {
    color:    #3664F4;

}